[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
focal-loss = "*"
opencv-python = "*"
tensorflow-gpu = "==2.6.0"
tensorflow = "==2.6.0"
piexif = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
